<div id="header" class="page-header" style="background-color: grey;">
    <div class="container" style="width: 100%; text-align: center">
        <div class="row" >
            <div id="welcome" class="col-md-4" style=" margin: 10px auto;">
                <h3>Mentor on Demand</h3>
            </div>
            <div id="welcome" class="col-md-8 text-right  text-capitalize" style=" margin: 10px auto;">
                <h4>welcome {{username}} <button>logout</button></h4>
                
            </div>
        </div>
    </div>
</div>
